<h2> Log In </h2>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

<form action="/login" method="post">
  <label for="username-input"> Username: </label>
  <input type="username" name="username" id="username-input" placeholder="username">
  <br><br>
  <label for="password-input"> Password: </label>
  <input type="password" name="password" id="password-input" placeholder="password">
  <br><br>
  <button> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/signup">
    Create an account.
  </a>
</p>